@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --scrollbar-color: #94cb7f;
  --scrollbar-width: 5px;
  background-color: #d8f3dc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.text-gradient {
  background: linear-gradient(90deg, #2d6a4f, #55a630, #dddf00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* colour */
